*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Schoolbell&display=swap);

/* body {
  font-family: 'Schoolbell', handwriting;
} */

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);



nav{
    padding:30px 0;
}

.nav_list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_btn{
    padding: 14px 35px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 25px;
    background: #145E76;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav_p{
    font-weight: 600;
font-size: 18px;
color: #A1B5BB;
cursor: pointer;
}

.nav_p:hover{
    border-bottom: 1px solid #A1B5BB;
}   


body{
    background: #052a34;
    font-family: 'Inter', sans-serif;
}


.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.header_left {
    margin-top: 150px;
}

.header_left h2 {
max-width: 537px;
width: 100%;
font-family: 'Inter', sans-serif;
font-size: 64px;
font-weight: 700;
line-height: 80px;
color: #FFFFFF;
}

.header_left p {
    max-width: 511px;
    width: 100%;
    font-family: 'Inter', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
color: #849499;
margin-bottom: 50px;
margin-top: 30px;
}


.h_img {
    margin-bottom: 40px;
    width: 195px;
    height: 65px;
}

.btn {
    padding: 16px 35px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 25px;
    background: #FFA63A;
    border: none;
    outline: none;
}

.S_btn {
    padding: 16px 35px;
    font-weight: 600;
    font-size: 18px;
    color: #B6CDD4;
    border-radius: 25px;
    background: transparent;
    border: none;
    outline: none;
}

header{
    background: url(img/Rectangle.png);
}

nav{
    background: url(img/Rectangle.png);
}


.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h_mini{
    width: 300px;
    padding: 20px 28px;
    border: 3px solid white;
    border-radius: 20px;

    p{
        width: 244px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.4px;
        color: #FFFFFF;
    }
   
}

.header_right{
    position: relative;
}

.h_mini{
    content: '';
    position: absolute;
    top: 273px;
    right: -60px;     
    background: transparent;  
    backdrop-filter: blur(5px);
}



.h_mini_profile{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#mini_p{
    font-size: 12px;
    color: #A1B5BB;
}

#h_mini{
    font-weight: 500;
    color: #FFFFFF;
}

.service {
background: #FFFFFF;
padding-top: 360px;
}

.service_p {
  color: #265A6A;
  font-family: 'Schoolbell', handwriting;
font-size: 24px;
line-height: 22.4px;
text-align: center;
text-decoration: underline;
margin-bottom: 30px;    
}

.service_h {
    margin: 0 auto;
    width: 600px;
    font-family: 'Inter', sans-serif;
font-size: 45px;
font-weight: 600;
line-height: 60px;
color: #08546C;
text-align: center;
padding-bottom: 70px;
}


.service_card{
    transition: 1s;
    box-shadow: 0px 41.78px 33.42px 0px #0000000D;
cursor: pointer;
width: 273px;
height: 251px;
padding: 34px 30px;

i{
    margin-bottom: 30px; 
    font-size: 40px;
    transition: 1s;   
}

h4{
    width: 155px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

p{
    width: 215px;
    line-height: 25px;
    color: #696969;
}

}

.service_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    padding-bottom: 200px;
}

.service_card:hover{
    background: #08546C;

    h4{
        color: white;
    }

    i{
        background: #FFA800;
        color: white;
        font-size: 40px;
        padding: 10px;
        border-radius: 20px;
    }
}


main{
    position: relative;
}


.stat{
    content: '';
    position: absolute;
    top: 860px;
    right: 400px;
    width: 1170px;
padding: 78px 218px;
background: white;
border-radius: 25px;
}


.stat_list{
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 70px;

    h2{
        font-weight: 600;
        font-size: 48px;
        color: #08546C;
    }

    p{
        font-size: 18px;
        color: #08546C;
        margin-top: 29px;
    }
}

.stat_h{
    font-weight: 600;
    font-size: 24px;
    color: #265A6A;
}




.portfolio {
    background: #FFFFFF;
}

.portfolio_h {
    width: 510px;
font-size: 45px;
font-weight: 600;
line-height: 60px;
color: #08546C;
text-align: left;
}

.portfolio_p {
    width: 569px;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
color: #757575;
text-align: left;
margin-top: 10px;
}


.portfolio_card{

    
    display: inline-block;
    margin-top: 60px;
    width: 515px;

    h2{
        margin-top: 40px;    
        font-weight: 600;
        font-size: 30px;
        color: #08546C;   
    }

    p{
        margin-top: 10px;
        width: 426px;
        color: #757575;
    }
}


.port_end{
    display: flex;
    align-items: center;
}

.cards_port{
    display: flex;
    gap: 440px;
}

.portfolio{
    padding-bottom: 200px;
}

.manage{
    background: url(img/Rectangle.png);
    padding-bottom: 100px;
}


.manage_content{
    display: flex;
    align-items: center;
    gap: 90px;
}


.manage_right{

    i:nth-of-type(1){
        color: #A7C1CA;
        font-size: 65px;
    }

p:nth-of-type(1){
margin-top: 40px;
margin-bottom: 20px;
width: 585px;
font-weight: 500;
line-height: 25.6px;
color: #FFFFFF;
}

p:nth-of-type(2){
    margin-bottom: 40px;
    color: #AABFC6;
    width: 285px;
}

i:nth-of-type(2){
    color: #A7C1CA;
    font-size: 50px;
}

}




.blog{
    background: #FFFFFF;
    padding-top: 200px;
}





.blog_left{

    h2{
    width: 520px;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: #08546C;
    margin-bottom: 20px;
}

p{
    width: 585px;
    line-height: 27px;
    color: #757575;
    font-size: 16px;
    margin-bottom: 20px;
}
}


.blog_btn{
    border: none;
    outline: none;
    background: white;
    margin-right: 20px;
    font-size: 14px;
    color: #757575;
    margin-bottom: 100px;
    padding: 12px 27px;
    transition: 1s;
    cursor: pointer;
}

.links{
    display: flex;
    gap: 50px;

    p{
        margin-top: 8.48px;
    }
}


.blog_btn:hover{
        color: #FFA800;
        background: #FFF8EB;
        border-radius: 30px;
        padding: 12px 27px;
}



.blog_content{
    display: flex;
    justify-content: space-between;
}


.blog_right{
    h2{
        width: 222px;
        font-weight: 600;
        font-size: 45px;
        line-height: 60px;
        color: #08546C;
        margin-bottom: 20px;
        text-align: left;
    }


    p{
        width: 337px;
        font-size: 18px;
        line-height: 28px;
        color: #757575;
        margin-bottom: 60px;
    }
}


.r_btn{
    padding: 16px 30px;
    border-radius: 30px;
    background: #FFA63A;
    box-shadow: 0px 2.77px 2.21px 0px #FFA63A05;

box-shadow: 0px 6.65px 5.32px 0px #FFA63A07;

box-shadow: 0px 12.52px 10.02px 0px #FFA63A09;

box-shadow: 0px 22.34px 17.87px 0px #FFA63A0B;

box-shadow: 0px 41.78px 33.42px 0px #FFA63A0D;

box-shadow: 0px 100px 80px 0px #FFA63A12;

outline: none;
border: none;

font-weight: 600;
font-size: 18px;
color: #FFFFFF;
margin-bottom: 192px;
}


.arrows{
    display: flex;
    align-items: center;
    gap: 30px;


}


.arrows_btn{
    border: 1px solid #FFA800;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    background: #FFFFFF;
    color: #FFA800;
    transition: 1s;
}

.arrows_btn:hover{
    background: #FFA63A;
    color: #FFFFFF;
}

footer{
    background: #FFFFFF;
}

.foot_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot1{
    img{
        margin-bottom: 20px;
        margin-top: 100px;
    }

    p{
        width: 344px;
        font-size: 18px;
        color: #757575;
        line-height: 28px;
        margin-bottom: 50px;
    }

    .icons{
        display: flex;
        align-items: center;
        font-size: 35px;
        gap: 47px;
        margin-bottom: 132px;
    }
}


.foot2{
    h2{
        font-weight: 500;
        font-size: 24px;
        color: #08546C;
        margin-bottom: 28px;
    }

    p{
        margin-bottom: 10px;
        font-size: 18px;
        color: #787878;
    }
}



.foot3{
    h2{
        font-weight: 500;
        font-size: 24px;
        color: #08546C;
        margin-bottom: 28px;
    }

    p{
        margin-bottom: 10px;
        font-size: 18px;
        color: #787878;
    }
}



.foot4{
    h2{
        font-weight: 500;
        font-size: 24px;
        color: #08546C;
        margin-bottom: 28px;
    }

    p{
        margin-bottom: 10px;
        font-size: 18px;
        color: #787878;
    }
}



